@use "../partial/_flex.sass" as *
@use "../partial/_colors.sass" as *

header
    width: 100%
    height: 3.5em
    position: relative
    z-index: 2
    color: $app-header-color
    box-shadow: $header-shadow
    @include flex($display: flex, $direction: column, $justify: null, $align: null)