// Default App Colors
$app-main-bg-color: #EF5350
$app-header-color: #f3f3f3
$app-footer-bg-color: #3B5BA6

// Pokemon Type Colors
$grass-type: green
$fire-type: red
$water-type: blue
$poison-type: purple
$electric-type: #ffcd32
$flying-type: #5f77ae
$bug-type: #00e626
$ice-type: cyan
$rock-type: brown
$ground-type: #a6643b
$steel-type: gray
$dragon-type: #1d429a
$psychic-type: magenta
$ghost-type: #721d9a
$dark-type: #141414
$normal-type: #4d4d4d

// Theme Colors
$app-dark-header-color: #030d24
$app-light-header-color: $app-main-bg-color
$app-lighter-intro-color: #0c204e
$app-dark-bg-color: #2e2e2e
$app-light-bg-color: $app-header-color

.dark
    background-color: $app-dark-header-color
    color: $app-light-bg-color
    transition: all linear 0.5s
.light
    background-color: $app-light-header-color
    transition: all linear 0.5s

.lighter
    background-color: $app-lighter-intro-color
    transition: all linear 0.5s

.dark-color
    color: $app-header-color

.light-color
    color: $dark-type

.dark-section
    background-color: #0b1836
    transition: all linear 0.5s

.light-section
    background-color: $app-light-bg-color
    transition: all linear 0.5s
    color: black

.element
    padding: 5px
    border: 1px solid none
    border-radius: 20px

.grass-bg
    background-color: $grass-type

.fire-bg
    background-color: $fire-type

.water-bg
    background-color: $water-type

.poison-bg
    background-color: $poison-type

.electric-bg
    background-color: $electric-type

.flying-bg
    background-color: $flying-type

.ice-bg
    background-color: $ice-type

.bug-bg
    background-color: $bug-type

.rock-bg
    background-color: $rock-type

.ground-bg
    background-color: $ground-type

.steel-bg
    background-color: $steel-type

.dragon-bg
    background-color: $dragon-type

.psychic-bg
    background-color: $psychic-type

.ghost-bg
    background-color: $ghost-type

.dark-bg
    background-color: $dark-type

.normal-bg
    background-color: $normal-type


// Box Shadows
$header-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px
$search-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px
$avatar-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px
$detail-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px
$dark-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(131 113 132 / 67%) 0px 2px 6px 2px